header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;  
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;    
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    transition: all 0.3s;
}

.produtos li:hover h2 {
    font-size: 34px;

}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    text-align: center;
    background: url("/img/bg.jpg");
    padding: 40px 0;   
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;

}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

form label {
    display: flex;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: flex;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
} 
